@using BlazorToaster
@using BlazorToaster.Model
@using BlazorToaster.Extension
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="button" @onclick="AddToast">Add</button>

<ToastGroup Collection="collection">
    <ToastTemplate Context="model">
        <p>
            @model.Message
        </p>
    </ToastTemplate>
</ToastGroup>

@code{
    IToastModelCollsection<Model.MorningBread> collection = ToastExtension.Factory.Create<Model.MorningBread>(5000);

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private void AddToast()
    {
        var addModel = new Model.MorningBread() { Message = Guid.NewGuid().ToString() };

        collection.Enqueue(addModel);
    }
}