@using BlazorToaster
@using BlazorToaster.Core
@page "/"

<h1>Hello, world!</h1>
<div >
    <button class="button" @onclick="OnClick">add toast</button>
</div>
Welcome to your new app.
<ToastGroup Collection="modelCollsection">
    <ToastTemplate Context="model">
@*         @{
            model.Presentation = PresentationMode.Event;
        } *@
        <div class="notification is-info">
            <button class="delete" @onclick="model.CloseEvent"></button>
            ID: @model.Content.Id.ToString()
        </div>
    </ToastTemplate>
</ToastGroup>
@code{

    IToastModelCollsection<Model.ToastMessage> modelCollsection;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        modelCollsection = ToastExtension.Factory.CreateCollecion<Model.ToastMessage>(new ToastConfigure(){Duration=5000,MaxToast=4});
    }

    void OnClick()
    {
        modelCollsection.Enqueue(new());  
    }
}