.toast {
    --_travel-distance: 0;
    padding-right: 2.5rem;
    will-change: transform,opacity;
    visibility: hidden; /* 初期状態では非表示 */
    opacity: 0;
}

    .toast.toast-is-active {
        visibility: visible;
        opacity: 1;
        animation: slide-in 0.3s ease, fade-in 0.3s ease;
    }

    .toast:not(.toast-is-active) {
        animation: fade-out 0.3s ease;
    }

@keyframes fade-in {
    from {
        opacity: 0
    }
}

@keyframes fade-out {
    to {
        opacity: 0
    }
}

@keyframes slide-in {
    from {
        transform: translateY(var(--_travel-distance, 10px))
    }
}

@media (prefers-reduced-motion: no-preference) {
    .toast {
        --_travel-distance: 5vh;
    }
}
