.toast {
    all: unset;
    --_travel-distance: 0;
    padding-right: 2.5rem;
    will-change: transform,opacity;
    visibility: hidden;
    opacity: 0;
}

.toast.toast-is-active {
    visibility: visible;
    opacity: 0.9;
    animation: slide-in 0.3s ease, fade-in 0.3s ease;
}

.toast:not(.toast-is-active) {
    opacity: 0.9;
    animation: fade-out 0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0
    }
}

@keyframes fade-out {
    from {
        visibility: visible;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(var(--_travel-distance, 10px))
    }
}

@media (prefers-reduced-motion: no-preference) {
    .toast {
        --_travel-distance: 5vh;
    }
}
