.toast-group {
    pointer-events: none;
    position: fixed;
    z-index: 1;
    inset-block-end: 0;
    inset-inline: 0;
    padding-block-end: 1rem;
    display: grid;
    gap: 0.5rem;
    opacity: 0.8;
    justify-items: end;
}
