@using BlazorToaster.Model

@typeparam TArgment 

<section class="toast-group">
    @while(Collection.TryDequeue(out var toast))
    {
        <Toast ToastTemplate="ToastTemplate" Model="@toast"></Toast>
    }
</section>
@code {
    [Parameter]
    public int DefaultCloseTiem { get; set; }

    [Parameter]
    public IToastModelCollsection<TArgment> Collection { get; set; } = new ToastCollecion<TArgment>();

    [Parameter, EditorRequired]
    public RenderFragment<TArgment> ToastTemplate { get; set; } = default!;

}
